<div class='container'>
  <p style="color: green"><%= notice %></p>
  <h1><%= t Sample.model_name.human %></h1>
  <%= render @sample %>
  <%= render 'admin/shared/show_actions', object: @sample %>
</div>